<h2>Word Finder</h2>

<form action="/phrase_search" method="post">
  <label for="wordSearch">Enter a Word to search for: </label>
  <input id="wordSearch" name="wordSearch">
  <label for="phraseSearch">Enter the Phrase you would like to search</label>
  <input id="phraseSearch" name="phraseSearch">
  <button type="submit">Find Word</button>
</form>

<!-- <h3>The word @Model appears @Model time(s) in your phrase</h3> -->
